body {
    font-family: arial, helvetica, sans-serif;
    color: black;
    font-size: 1.2em;
    width: 200px;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px;
    border: 0;
    border-radius: 10px;
    font-size: 1em;
    background-color: rgb(157, 91, 233);
    cursor: pointer;
    align-items: center;
}